pipeline/kusto_factstoragestfforecastdaily.json
{
	"name": "kusto_factstoragestfforecastdaily",
	"properties": {
		"activities": [
			{
				"name": "Copy_StorageForecast_Data",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"additionalColumns": [
							{
								"name": "SeedDateTime",
								"value": {
									"value": "@{if(equals(pipeline().parameters.SeedDateTime,'default'),utcnow(),pipeline().parameters.SeedDateTime)}",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "stf/constrained/factstoragestfforecastdaily/@{formatDateTime(if(equals(pipeline().parameters.SeedDateTime,'default'),utcnow(),pipeline().parameters.SeedDateTime),'yyyy/MM/dd')}",
								"type": "Expression"
							},
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureDataExplorerSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Resource",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Resource",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ResourceType",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "ResourceType",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Unit",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Unit",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Geo",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Geo",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Region",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Region",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ServiceType",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "ServiceType",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "IsManagedDisk",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "IsManagedDisk",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PhysicalAvailabilityZoneCode",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PhysicalAvailabilityZoneCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ForecastDate",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "ForecastDate",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Forecast_Mean",
									"type": "Double",
									"physicalType": "DOUBLE"
								},
								"sink": {
									"name": "Forecast_Mean",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "Horizon",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Horizon",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "PivotDate",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PivotDate",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Q5",
									"type": "Double",
									"physicalType": "DOUBLE"
								},
								"sink": {
									"name": "Q5",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "Q50",
									"type": "Double",
									"physicalType": "DOUBLE"
								},
								"sink": {
									"name": "Q50",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "Q66",
									"type": "Double",
									"physicalType": "DOUBLE"
								},
								"sink": {
									"name": "Q66",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "Q75",
									"type": "Double",
									"physicalType": "DOUBLE"
								},
								"sink": {
									"name": "Q75",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "Q80",
									"type": "Double",
									"physicalType": "DOUBLE"
								},
								"sink": {
									"name": "Q80",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "Q90",
									"type": "Double",
									"physicalType": "DOUBLE"
								},
								"sink": {
									"name": "Q90",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "Q95",
									"type": "Double",
									"physicalType": "DOUBLE"
								},
								"sink": {
									"name": "Q95",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "Q97",
									"type": "Double",
									"physicalType": "DOUBLE"
								},
								"sink": {
									"name": "Q97",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "Q99",
									"type": "Double",
									"physicalType": "DOUBLE"
								},
								"sink": {
									"name": "Q99",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "DateTimeOfPrediction",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "DateTimeOfPrediction",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ForecastType",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "ForecastType",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SeedDateTime"
								},
								"sink": {
									"name": "SeedDateTime",
									"type": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "CSDF_ADLGen2",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "kusto_factstoragestfforecastdaily",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "IcmNotification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy_StorageForecast_Data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().globalParameters.ICMFunctionsAppUrl",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "{\n\t\"PipelineResult\": false,\n\t\"PipelineName\": \"Kusto_factstoragestfforecastdaily\",\n\t\"ErrorMessage\": \"@{concat('<p>&nbsp;</p><p><b>Error</b></p>', activity('Copy_StorageForecast_Data').error.message, '<p>&nbsp;</p><p>Click <a href=', concat('https://ms-adf.azure.com/monitoring/pipelineruns/', pipeline().RunId, '?factory=%2Fsubscriptions%2F3747c610-b764-498e-8aa3-961808d7241a%2FresourceGroups%2FDEFAULT_RG%2Fproviders%2FMicrosoft.DataFactory%2Ffactories%2FUsageDataFactory-AME'), '>here</a> for pipeline execution details</p>')}\",\n\t\"RunUrl\": \"@{concat('https://ms-adf.azure.com/monitoring/pipelineruns/', pipeline().RunId, '?factory=%2Fsubscriptions%2F3747c610-b764-498e-8aa3-961808d7241a%2FresourceGroups%2FDEFAULT_RG%2Fproviders%2FMicrosoft.DataFactory%2Ffactories%2FUsageDataFactory-AME')}\",\n\t\"FailureCount\": 1,\n\t\"IcmThresholdCount\": 1,\n\t\"Severity\": 3,\n\t\"RoutingId\": \"CSCP-Usage-DataPlatform\"\n}",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": {
							"value": "@pipeline().globalParameters.AuthenticatorResourceUrl",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"SeedDateTime": {
				"type": "string",
				"defaultValue": "default"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-03-16T18:58:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}